@model IEnumerable<RoleViewModel>


@{
    ViewData["Title"] = "Roles";
}
@foreach (var item in @Model)
{
    @Html.Hidden("UriKey");
}
<h2>Roles</h2>
<br />
<br />

@if (Model.Any())
{
    <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-primary mb-3"
       style="width:auto">Add New Role</a>
    <br />
    <br />
    <br />
    <br />

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>

            <div class="card-footer">
                @*@Html.ActionLink("Edit", "EditRole", new { id = role.UriKey, @Class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteRole", new { id = role.UriKey, @Class = "btn btn-primary" })*@
                <a asp-action="EditRole" asp-controller="Administration" asp-route-roleId="@role.UriKey" class="btn btn-primary">Edit</a>
                <a asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.UriKey" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <br />
        <br />

    }


}
else
{
    <div class="card">
        <div class="card-header">
            No Roles yet created!
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a new role
        </h5>
        <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary" style="width:auto">Create Role</a>
    </div>


}



